[submodule "squadjsPlugins/nameVal"]
	path = squadjsPlugins/nameVal
	url = https://github.com/fantinodavide/squadjs-squad-name-validator.git
[submodule "squadjsPlugins/dblogext"]
	path = squadjsPlugins/dblogext
	url = https://github.com/AsgardEternal/DBLogExtension.git
[submodule "squadjsPlugins/mapVote"]
	path = squadjsPlugins/mapVote
	url = https://github.com/AsgardEternal/squad-js-map-vote.git
	branch = master
[submodule "squadjsPlugins/switch"]
	path = squadjsPlugins/switch
	url = https://github.com/fantinodavide/squadjs-switch-plugin.git
[submodule "squadjsPlugins/squadBaiting"]
	path = squadjsPlugins/squadBaiting
	url = git@github.com:fantinodavide/squadjs-squad-baiting.git
