[submodule "squadjsPlugins/nameVal"]
	path = squadjsPlugins/nameVal
	url = https://github.com/fantinodavide/squadjs-squad-name-validator.git
[submodule "squadjsPlugins/dblogext"]
	path = squadjsPlugins/dblogext
	url = https://github.com/AsgardEternal/DBLogExtension.git
